{% assign i = 0 %}
<div class="product-block-wrapper hide-wrapper-on-mobile page-width">
  {% for product in collection.products %}
    {% assign remainder = forloop.index0 | modulo: 9 %}
    {% if remainder == 0 %}
      <div class="collection-category-block ">
        {% for i in (i..section.blocks.size) %}
          {% assign block = section.blocks[i] %}
          {% if block.settings.section_image != blank %}
            <div class="collection-list-single">
              <div class="collection_list_wrapper">
                <div class="collection-list-single-bg">
                  <img src="{{ block.settings.section_image | image_url: width: 500 }}" alt="Section Image">
                </div>
              </div>
              <div class="collection-single-list-products">
                {% if block.settings.product1 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product1.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product1 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product1.title }}</h3>
                        <h4>{{ block.settings.product1.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product2 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product2.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product2 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product2.title }}</h3>
                        <h4>{{ block.settings.product2.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product3 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product3.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product3 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product3.title }}</h3>
                        <h4>{{ block.settings.product3.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product4 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product4.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product4 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product4.title }}</h3>
                        <h4>{{ block.settings.product4.price }}</h4>
                      </div>
                    </div>
                  </a>
                {%- endif %}
                {% if block.settings.product5 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product5.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product5 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product5.title }}</h3>
                        <h4>{{ block.settings.product5.price }}</h4>
                      </div>
                    </div>
                  </a>
                {%- endif %}
                {% if block.settings.product6 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product6.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product6 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product6.title }}</h3>
                        <h4>{{ block.settings.product6.price }}</h4>
                      </div>
                    </div>
                  </a>
                {%- endif %}
                {% if block.settings.product7 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product7.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product7 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product7.title }}</h3>
                        <h4>{{ block.settings.product7.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product8 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{ block.settings.product8.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product8 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product8.title }}</h3>
                        <h4>{{ block.settings.product8.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% break %}
        {% endfor %}
      </div>
      {% assign i = i | plus: 1 %}
    {% endif %}
    <div class="collection__product_lists">
      <a
        class="product-link-cart"
        href="{{ product.url }}"
        id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
      >
        <div class="collection-list-prd">
          <div class="collection-list-prd-img">
            {% if product.featured_image != blank %}
              <img src="{{ product.featured_image | img_url: '500x' }}" alt="{{ product.title }}">
            {% endif %}
          </div>
          <div class="collection-list-prd-data">
            <h3>{{ product.title }}</h3>
            <h4>{{ product.price }}</h4>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  <div class="collection-category-block ">
    {% for i in (i..section.blocks.size) %}
      {% assign block = section.blocks[i] %}
      {% if block.settings.section_image != blank %}
        <div class="collection-list-single">
          <div class="collection_list_wrapper">
            <div class="collection-list-single-bg">
              <img src="{{ block.settings.section_image | image_url: width: 500 }}" alt="Section Image">
            </div>
          </div>
          <div class="collection-single-list-products">
            {% if block.settings.product1 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product1.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product1 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product1.title }}</h3>
                    <h4>{{ block.settings.product1.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product2 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product2.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product2 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product2.title }}</h3>
                    <h4>{{ block.settings.product2.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product3 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product3.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product3 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product3.title }}</h3>
                    <h4>{{ block.settings.product3.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product4 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product4.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product4 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product4.title }}</h3>
                    <h4>{{ block.settings.product4.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product5 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product5.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product5 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product5.title }}</h3>
                    <h4>{{ block.settings.product5.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product6 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product6.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product6 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product6.title }}</h3>
                    <h4>{{ block.settings.product6.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product7 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product7.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product7 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product7.title }}</h3>
                    <h4>{{ block.settings.product7.price }}</h4>
                  </div>
                </a>
              </div>
            {%- endif %}
            {% if block.settings.product8 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{ block.settings.product8.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product8 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product8.title }}</h3>
                    <h4>{{ block.settings.product8.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% assign i = i | plus: 1 %}
</div>

{% assign i = 0 %}
<div class="product-block-wrapper hide-wrapper-on-desktop page-width">
  {% for product in collection.products %}
    {% assign remainder = forloop.index0 | modulo: 8 %}
    {% if remainder == 0 %}
      <div class="collection-category-block ">
        {% for i in (i..section.blocks.size) %}
          {% assign block = section.blocks[i] %}
          {% if block.settings.section_image != blank %}
            <div class="collection-list-single">
              <div class="collection_list_wrapper">
                <div class="collection-list-single-bg">
                  <img src="{{ block.settings.section_image | image_url: width: 500 }}" alt="Section Image">
                </div>
              </div>
              <div class="collection-single-list-products">
                {% if block.settings.product1 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product1.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product1 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product1.title }}</h3>
                        <h4>{{ block.settings.product1.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product2 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product2.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product2 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product2.title }}</h3>
                        <h4>{{ block.settings.product2.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product3 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product3.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product3 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product3.title }}</h3>
                        <h4>{{ block.settings.product3.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product4 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product4.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product4 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product4.title }}</h3>
                        <h4>{{ block.settings.product4.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product5 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product5.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product5 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product5.title }}</h3>
                        <h4>{{ block.settings.product5.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product6 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product6.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product6 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product6.title }}</h3>
                        <h4>{{ block.settings.product6.price }}</h4>
                      </div>
                    </div>
                  </a>
                {%- endif %}
                {% if block.settings.product7 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product7.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product7 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product7.title }}</h3>
                        <h4>{{ block.settings.product7.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
                {% if block.settings.product8 != blank %}
                  <a
                    class="product-link-cart"
                    href="{{block.settings.product8.url }}"
                    id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                  >
                    <div class="collection-list-prd">
                      <div class="collection-list-prd-img">
                        <img src="{{ block.settings.product8 | image_url: width: 300 }}" alt="Section Image">
                      </div>
                      <div class="collection-list-prd-data">
                        <h3>{{ block.settings.product8.title }}</h3>
                        <h4>{{ block.settings.product8.price }}</h4>
                      </div>
                    </div>
                  </a>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% break %}
        {% endfor %}
      </div>
      {% assign i = i | plus: 1 %}
    {% endif %}
    <div class="collection__product_lists">
      <a
        class="product-link-cart"
        href="{{ product.url }}"
        id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
      >
        <div class="collection-list-prd">
          <div class="collection-list-prd-img">
            {% if product.featured_image != blank %}
              <img src="{{ product.featured_image | img_url: '500x' }}" alt="{{ product.title }}">
            {% endif %}
          </div>
          <div class="collection-list-prd-data">
            <h3>{{ product.title }}</h3>
            <h4>{{ product.price }}</h4>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  <div class="collection-category-block ">
    {% for i in (i..section.blocks.size) %}
      {% assign block = section.blocks[i] %}
      {% if block.settings.section_image != blank %}
        <div class="collection-list-single">
          <div class="collection_list_wrapper">
            <div class="collection-list-single-bg">
              <img src="{{ block.settings.section_image | image_url: width: 500 }}" alt="Section Image">
            </div>
          </div>
          <div class="collection-single-list-products">
            {% if block.settings.product1 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product1.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product1 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product1.title }}</h3>
                    <h4>{{ block.settings.product1.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product2 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product2.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product2 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product2.title }}</h3>
                    <h4>{{ block.settings.product2.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product3 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product3.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product3 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product3.title }}</h3>
                    <h4>{{ block.settings.product3.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product4 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product4.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product4 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product4.title }}</h3>
                    <h4>{{ block.settings.product4.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product5 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product5.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product5 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product5.title }}</h3>
                    <h4>{{ block.settings.product5.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product6 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product6.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product6 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product6.title }}</h3>
                    <h4>{{ block.settings.product6.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product7 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product7.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product7 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product7.title }}</h3>
                    <h4>{{ block.settings.product7.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if block.settings.product8 != blank %}
              <div class="collection-list-prd">
                <a
                  class="product-link-cart"
                  href="{{block.settings.product8.url }}"
                  id="StandardCardNoMediaLink-{{ section_id }}-{{ product.id }}"
                >
                  <div class="collection-list-prd-img">
                    <img src="{{ block.settings.product8 | image_url: width: 300 }}" alt="Section Image">
                  </div>
                  <div class="collection-list-prd-data">
                    <h3>{{ block.settings.product8.title }}</h3>
                    <h4>{{ block.settings.product8.price }}</h4>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% assign i = i | plus: 1 %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var collectionSingleListProducts = document.querySelectorAll('.collection-single-list-products');
    collectionSingleListProducts.forEach(function (element) {
      if (element.children.length === 3) {
        element.classList.add('grid-3-column');
      } else if (element.children.length === 2) {
        element.classList.add('grid-2-column');
      } else if (element.children.length === 1) {
        element.classList.add('grid-1-column');
      } else {
      }
    });
  });
</script>
{% schema %}
{
  "name": "inner-product",
  "class": "section",
  "blocks": [
    {
      "type": "text",
      "name": "Add Category Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "section_image",
          "label": "Main Product Image"
        },
        {
          "type": "product",
          "id": "product1",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product2",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product3",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product4",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product5",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product6",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product7",
          "label": "Select Products"
        },
        {
          "type": "product",
          "id": "product8",
          "label": "Select Products"
        }
      ]
    }
  ]
}
{% endschema %}
